<div class="title"> 
	<h1>Enlist a new minion</h1>
</div>

<table>

	<form action="/contacts" method="post">

		<tr>
			<td><div class="min_font">Minion's class: </div></td>
			<td>
				<input type="text" name="first_name">
			</td>
		</tr>
		<tr>
			<td><div class="min_font">Minion's race: </div></td>
			<td>
				<input type="text" name="last_name">
			</td>
		</tr>
		<tr>
			<td><div class="min_font">Minion's stats: </div></td>
			<td>
				<input type="text" name="email">
			</td>
		</tr>
		<tr>
			<td><div class="min_font">Minion's abilities: </div></td>
			<td>
				<input type="text" name="note">
			</td>
		</tr>
	</table>
	<input type="submit" name="Conscript!">
</form> 

<!-- <form action ="/contacts" method ="POST">
	<fieldset>
		<legend>Contact info</legend>

		<div>
			<label for="first_name">First name</label>
			<input type = "text" name="first_name" id="first_name" required="required" placeholder="First Name">
		</div>
</form>

<form action ="/contacts" method ="POST"> -->