<h1>Create a new contact!</h1>

<form action="/contacts" method="post">
	<input type="text" name="first_name">
	<input type="text" name="last_name">
	<input type="text" name="email">
	<input type="text" name="note">
	<input type="submit" name="Submit">
</form> 

<form action ="/contacts" method ="POST">
	<fieldset>
		<legend>Contact info</legend>

		<div>
			<label for="first_name">First name</label>
			<input type = "text" name="first_name" id="first_name" required="required" placeholder="First Name">
		</div>
</form>

<form action ="/contacts" method ="POST">